
body {
  font-family: Mogra;
  background-color:lightblue;
  background-image:url(/Users/mattyb/Development/code/phase-2/Ice-Cream-Shop-Finder/src/Ice-Cream-Wallpaper-Desktop-1068x601.jpg);
  background-size:cover;
  background-position:center center;
}
header h1{
  display: flex;
  justify-content: center;
}
.navigationBar {
  font-size:larger;
  margin:20px;
  flex-direction:row;
}




#search {
  width:400px;
}
  

.shops {
  list-style:none;
  
}


.card {
margin: 1rem;
max-width: 200px;
display:inline-grid;
box-shadow:20px 20px 50px grey;
padding: 1rem;
background-color:lightcoral;
}


.card img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.card  button {
  background-color: moccasin;
  font-style: Mogra;
}
